<?xml version="1.0"?>
<launch>
  <!--
    This launch file starts the drivers to control the robot and sets up robot/joint_state_publisher nodes
    so that the robot can be controlled from the joint_state_publisher UI and the robot model
    reflects the current state of the real robot.

    Caution: The joint_state_publisher node starts with a default value of '0' for all arm angles, make
    sure the robot is in the initial pose before using this launch file, otherwise it will start moving!
  -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro.py $(find taurob_tracker_description)/urdf/tracker.urdf.xacro"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

  <include file="$(find taurob_watchdog)/launch/watchdog.launch"/>
  <include file="$(find taurob_base_node)/launch/tracker.launch"/>
  <include file="$(find taurob_arm_node)/launch/tracker.launch"/>
  <include file="$(find taurob_flipper_node)/launch/tracker.launch"/>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <remap from="joint_states" to="jointstate_cmd"/>
  </node>
</launch>
