<?xml version="1.0"?>
<launch>
  <!--
    This launch file loads the robot model and launches a robot_state_publisher node so
    that the model in rviz visualizes the current state of the real robot.

    No attempt is made to steer the robot.
  -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro.py $(find taurob_tracker_description)/urdf/tracker.urdf.xacro"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

  <include file="$(find taurob_base_node)/launch/tracker.launch"/>
  <include file="$(find taurob_arm_node)/launch/tracker.launch"/>
</launch>
