<?xml version="1.0"?>

<launch>
  
  <arg name="watchdog_enabled" default="true" />
  <arg name="robot_name" default="tracker" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

  <include file="$(find taurob_robot_description)/launch/load_description.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <include file="$(find taurob_watchdog)/launch/watchdog.launch" />

  <include file="$(find taurob_base_node)/launch/$(arg robot_name).launch">
    <arg name="watchdog_enabled" value="$(arg watchdog_enabled)" />
  </include>

  <include file="$(find taurob_arm_ros_control)/launch/$(arg robot_name).launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="watchdog_enabled" value="$(arg watchdog_enabled)" />
  </include>

</launch>

