<?xml version="1.0"?>

<robot name="taurob_tracker"
    xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
    
    <xacro:include filename="$(find taurob_robot_description)/urdf/tracker/robot.urdf.xacro" />
    <xacro:include filename="$(find taurob_robot_gazebo_description)/urdf/tracker/tracker_diff_drive.gazebo.xacro.xml" />
    
    <property name="flipper_offset_x" value="0.25" />
    <property name="flipper_offset_y" value="0.25" />
    <property name="flipper_offset_z" value="0.025" />

     <xacro:tracker_diff_drive_macro />

  <gazebo>
    
    <!-- ros_control plugin -->  
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>taurob_tracker</robotNamespace>-->
    </plugin>
    
    <plugin name="base_link_imu_sensor_gazebo" filename="libhector_gazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>125.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>/imu</topicName>
      <accelDrift>0.0 0.0 0.0</accelDrift>
      <accelGaussianNoise>0.1 0.1 0.1</accelGaussianNoise>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateGaussianNoise>0.05 0.05 0.05</rateGaussianNoise>
      <headingDrift>0.0</headingDrift>
      <headingGaussianNoise>0.05</headingGaussianNoise>
    </plugin>

  </gazebo>    
     
</robot>
