<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find taurob_robot_gazebo_ros_control)/config/tracker.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="taurob_tracker"
    args="joint_state_controller arm_traj_controller"/> 	<!-- flipper_traj_controller not working as of now -->


  <!-- convert joint states to TF transforms for rviz, etc -->
<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rrbot/joint_states" />
  </node>-->

</launch>
