<?xml version="1.0"?>
<launch>
  <node pkg="taurob_base_node" type="taurob_base_node" name="taurob_base_node" output="screen">
    <param name="tf_from_frame" value="base_link"/>
    <param name="tf_to_frame" value="odom"/>
    <param name="base_ip" value="10.0.0.2"/>
    <param name="base_port" value="8080"/>
  </node>
</launch>
